<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-secondary navbar-inverse">
  <div class="container-fluid">
    <%= link_to '/', class: "navbar-brand", target: "_self" do %>
      Quepid
      <span class="hover"><%= image_tag 'tagline-sm.png' %></span>
    <% end %>
    <% if current_user.present? %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>


      <ol class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href='https://github.com/o19s/quepid/wiki/Videos-on-Learning-to-use-Quepid' target="_blank">
            Video Tutorials
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='http://quepid.com/docs/' target="_blank">
            Knowledge Base
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='https://github.com/o19s/quepid/wiki' target="_blank" >
            Wiki
          </a>
        </li>
        <!-- Begin account management dropdown -->
        <li class="nav-item" >


          <li class="nav-item dropdown">
            <a href class="nav-link dropdown-toggle"  data-bs-toggle="dropdown">
              <%= image_tag current_user.avatar_url, size: '24x24', class: 'img-rounded' %>
              <span data-display-name><%= current_user.display_name %> </span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'My profile', profile_path, class: 'dropdown-item', target: '_self' %></li>
              <li><%= link_to 'Log out', logout_path, class: 'dropdown-item', target: '_self' %></li>
              <% if current_user.administrator? %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Admin Home', admin_path, class: 'dropdown-item', target: '_self' %></li>
              <li><%= link_to 'Users', admin_users_path, class: 'dropdown-item', target: '_self' %></li>
              <li><%= link_to 'Quepid Scorers', admin_communal_scorers_path, class: 'dropdown-item', target: '_self' %></li>
              <li><a class="dropdown-item" href="/admin/jobs" target="_self">Job Manager</a></li>
              <% end %>
            </ul>
        </li> <!-- End account management -->
      </ol>
      <% end %>
    </div>
  </div>
</nav>

<div id='flash'>
  <%= flash_messages -%>
</div>
